.planContainer {
  background-image: url("/assets/images/chat-bg.png");
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}

.plan-item {
  transition: all 0.3s;
}

.plan-item:hover {
  /* transform: scale(1.005); */
  box-shadow: 0px 12px 26px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 12px 26px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 12px 26px 3px rgba(0, 0, 0, 0.1);
}
